## value_count()
### This method is only available on pandas series

### How to use in pandas dataframes:
  #### 1. Fetch the columns
  #### 2. perform value_counts of return series

In [1]:
import os
import pandas as pd

os.chdir("/home/mediaworker/anaconda2/envs/pandas_playground")

nba = pd.read_csv("datasets/nba.csv")

nba["Age"].head(3)

0    25.0
1    25.0
2    27.0
Name: Age, dtype: float64

In [2]:
# lets check frequency of teams
nba["Team"].value_counts().head(5)

New Orleans Pelicans    19
Memphis Grizzlies       18
Milwaukee Bucks         16
New York Knicks         16
Denver Nuggets          15
Name: Team, dtype: int64

In [5]:
# lets check least common weigth analysis
nba["Weight"].value_counts().tail(5)

278.0    1
227.0    1
239.0    1
289.0    1
307.0    1
Name: Weight, dtype: int64

In [7]:
# lets check highest salaries earned
nba["Salary"].value_counts().head(5)

947276.0     31
845059.0     18
525093.0     13
981348.0      6
1100602.0     5
Name: Salary, dtype: int64