In [4]:
import os
import pandas as pd
os.chdir("/home/mediaworker/anaconda2/envs/pandas_playground/")
df = pd.read_csv("datasets/jamesbond.csv", index_col="Film")
df.sort_index(inplace=True)
df.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [15]:
# change actor's name for movie Dr. No
df.loc["Dr. No", "Actor"] = "Sir Sean Connery"
df.loc["Dr. No", "Actor"]

'Sir Sean Connery'

In [19]:
# edit multiple cells
df.loc["Dr. No", ["Box Office", "Budget", "Bond Actor Salary"]] = [448.10, 7778.9, 6789.0]
df.loc["Dr. No", ["Box Office", "Budget", "Bond Actor Salary"]]

Box Office            448.1
Budget               7778.9
Bond Actor Salary      6789
Name: Dr. No, dtype: object