In [2]:
import os
import pandas as pd

os.chdir("/home/mediaworker/anaconda2/envs/pandas_playground")

nba = pd.read_csv("datasets/nba.csv")

In [3]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [11]:
# Syntax 1
# If sport column does not exist, it gets inserted
# with each row value as Basketball

nba["Sport"] = "Basketball"

In [12]:
nba.Sport.head(3)

0    Basketball
1    Basketball
2    Basketball
Name: Sport, dtype: object

In [13]:
nba['League'] = "National Legue Challene"

In [17]:
# Syntax 2
nba.insert(2, column="SportsTime", value="Basketball")

In [18]:
nba.head(3)

,Name,Team,SportsTime,BreakTime,Number,Position,Age,Height,Weight,College,Salary,Sport,League
0,Avery Bradley,Boston Celtics,Basketball,Basketball,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Basketball,National Legue Challene
1,Jae Crowder,Boston Celtics,Basketball,Basketball,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Basketball,National Legue Challene
2,John Holland,Boston Celtics,Basketball,Basketball,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Basketball,National Legue Challene