In [1]:
import os
import pandas as pd
os.chdir("/home/mediaworker/anaconda2/envs/pandas_playground/")
df = pd.read_csv("datasets/jamesbond.csv", index_col="Film")
df.sort_index(inplace=True)
df.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [5]:
# edit Actor sean connery on every occurence in Dataframe
mask_1 = df["Actor"] == "Sean Connery"

In [14]:
df.loc[mask_1, "Actor"] = "Sir Sean Connery"
df.loc[mask_1, "Actor"]

Film
Diamonds Are Forever     Sir Sean Connery
Dr. No                   Sir Sean Connery
From Russia with Love    Sir Sean Connery
Goldfinger               Sir Sean Connery
Never Say Never Again    Sir Sean Connery
Thunderball              Sir Sean Connery
You Only Live Twice      Sir Sean Connery
Name: Actor, dtype: object