## Import series with the ```read_csv``` Method

In [4]:
import os
import pandas as pd

# add env path to sys
os.chdir("/home/mediaworker/anaconda2/envs/pandas_playground")

In [5]:
# Load complete CSV data as pandas dataframe
pd.read_csv("datasets/pokemon.csv")

        Pokemon      Type
0     Bulbasaur     Grass
1       Ivysaur     Grass
2      Venusaur     Grass
3    Charmander      Fire
4    Charmeleon      Fire
5     Charizard      Fire
6      Squirtle     Water
7     Wartortle     Water
8     Blastoise     Water
9      Caterpie       Bug
10      Metapod       Bug
11   Butterfree       Bug
12       Weedle       Bug
13       Kakuna       Bug
14     Beedrill       Bug
15       Pidgey    Normal
16    Pidgeotto    Normal
17      Pidgeot    Normal
18      Rattata    Normal
19     Raticate    Normal
20      Spearow    Normal
21       Fearow    Normal
22        Ekans    Poison
23        Arbok    Poison
24      Pikachu  Electric
25       Raichu  Electric
26    Sandshrew    Ground
27    Sandslash    Ground
28      Nidoran    Poison
29     Nidorina    Poison
..          ...       ...
691   Clauncher     Water
692   Clawitzer     Water
693  Helioptile  Electric
694   Heliolisk  Electric
695      Tyrunt      Rock
696   Tyrantrum      Rock
697      Amaura      Rock
698     Aurorus      Rock
699     Sylveon     Fairy
700    Hawlucha  Fighting
701     Dedenne  Electric
702     Carbink      Rock
703       Goomy    Dragon
704     Sliggoo    Dragon
705      Goodra    Dragon
706      Klefki     Steel
707    Phantump     Ghost
708   Trevenant     Ghost
709   Pumpkaboo     Ghost
710   Gourgeist     Ghost
711    Bergmite       Ice
712     Avalugg       Ice
713      Noibat    Flying
714     Noivern    Flying
715     Xerneas     Fairy
716     Yveltal      Dark
717     Zygarde    Dragon
718     Diancie      Rock
719       Hoopa   Psychic
720   Volcanion      Fire

[721 rows x 2 columns]

In [33]:
# Load one column CSV data as pandas dataframe
pokemon_ps = pd.read_csv("datasets/pokemon.csv", usecols=["Pokemon"])

In [39]:
# Load only top 5 rows by default
# head() method creats brand new copy of first 5 rows
# Can be stored in different pandas series object
pokemon_ps.head(5)

      Pokemon
0   Bulbasaur
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon

In [41]:
# Load only bottom 5 rows by default
# head() method creats brand new copy of last 5 rows
# Can be stored in different pandas series object
pokemon_ps.tail()

       Pokemon
716    Yveltal
717    Zygarde
718    Diancie
719      Hoopa
720  Volcanion

In [27]:
# Squeeze loaded one column CSV data as pandas series
csv_df = pd.read_csv("datasets/pokemon.csv", usecols=["Pokemon"], squeeze=True)
csv_df

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [28]:
csv_df.index

RangeIndex(start=0, stop=721, step=1)

In [29]:
csv_df.index.stop

721

In [17]:
csv_df.index.dtype

dtype('int64')

In [30]:
# Second dataset - stock prizes
csv_google_st = pd.read_csv("datasets/google_stock_price.csv")

In [31]:
csv_google_st

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]

In [23]:
# List extracted columns
csv_google_st.columns

Index(['Stock Price'], dtype='object')