In [10]:
import os
import pandas as pd

os.chdir("/home/mediaworker/anaconda2/envs/pandas_playground/")

# read pokemon dataset from csv and generate pandas series
pokemon = pd.read_csv("datasets/pokemon.csv",squeeze=True)

# read google dataset from csv and generate pandas series
google = pd.read_csv("datasets/google_stock_price.csv", squeeze=True)

In [11]:
# sort pandas series based on index
pokemon.sort_index().head(5)

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [16]:
# sort pandas series based on index
pokemon.sort_index(ascending=False, inplace=True)

In [17]:
# fetch top 5 rows
pokemon.head(5)

       Pokemon     Type
720  Volcanion     Fire
719      Hoopa  Psychic
718    Diancie     Rock
717    Zygarde   Dragon
716    Yveltal     Dark