In [1]:
import os
import pandas as pd

os.chdir("/home/mediaworker/anaconda2/envs/pandas_playground/")

# read google dataset from csv and generate pandas series
google = pd.read_csv("datasets/google_stock_price.csv", squeeze=True)

In [2]:
def classify_performance(number):
    if number < 300:
        return "Ok"
    elif number >=300 and number < 600:
        return "Satisfactory"
    else:
        return "Incredible"

In [5]:
google.apply(classify_performance).head()

0    Ok
1    Ok
2    Ok
3    Ok
4    Ok
Name: Stock Price, dtype: object

In [6]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [8]:
google.apply(lambda stock_price : stock_price + 1).head()

0    51.12
1    55.10
2    55.65
3    53.38
4    53.95
Name: Stock Price, dtype: float64

In [13]:
# read pokemon dataset from csv and generate pandas series with pokemon as index column
pokemon_types = pd.read_csv("datasets/pokemon.csv", index_col="Pokemon", squeeze=True)
pokemon_names = pd.read_csv("datasets/pokemon.csv", usecols=["Pokemon"], squeeze=True)

In [12]:
pokemon_types.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [15]:
pokemon_names.map(pokemon_types).head()

0    Grass
1    Grass
2    Grass
3     Fire
4     Fire
Name: Pokemon, dtype: object